<script setup lang="ts">
import { useCounterStore } from "../stores/counter.ts";

// Destructure the actions from the store
const { increment, reset } = useCounterStore();
const counter = useCounterStore();

defineProps<{ msg: string }>();
</script>

<template>
  <h1>{{ msg }} &#x1F44B;</h1>

  <div class="card flex-1">
    <Button type="button" @click="increment()" class="mr-1" rounded>
      Don't give a fucks {{ counter.count }}
    </Button>
    <Button type="button" @click="reset()" rounded>Reset</Button>
  </div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
